@import url('mocha.css');

/****************************************************************************
 * global variables                                                         *
 ****************************************************************************/
* {
	border-radius: 0;                    /* defines element roundness */
	font-family: "JetBrainsMono Nerd Font";
	font-size: 12;
	font-weight: 600;

	/* margin/padding - outer/inner spacing of elements;
	 * w x y z (top right bottom left) 
	 * - if w x, then applies top/bottom and right/left
	 * - if w, then applies to all
	 * */
	margin: 1 0;                         /* space between element and bar */
	padding: 0 0 0 0;                    /* text centering */
}

/****************************************************************************
 * general waybar properties                                                *
 ****************************************************************************/
window#waybar {
	background: transparent;  /* transparent background for waybar */
	border: 1 dashed @text;   /* border wdith, style, and color */
	color: @text;             /* default color for waybar elements */
}

/****************************************************************************
 * workspaces                                                               *
 ****************************************************************************/
#workspaces {
	/*background: @lavender;
	border: 1 solid @lavender;
	 */
	margin: 1 8 1 3;              /* need space bw element and waybar */
}

/* defines basic property of button
 * (if desire for workspace buttons to be separated then use this property)
 */
#workspaces button {
	color: @text;
	margin: 0;                    /* spacing bw button and element border*/
}

/* when button is hovered by mouse */
#workspaces button:hover {
	background: transparent;      /* shades of @lavender */
	border: 1 dashed @text;
	color: @text;
}

/* the current workspace */
#workspaces button.focused {
	background: transparent;
	border: 1 dashed @text;
	color: @text;
}

/* workspace blinks when a window is marked urgent by sway
 * can be tested by: 
 * swaymsg "[app_id=\"firefox\"] urgent enable" 
 * where firefox can be replaced by whatever
 */
#workspaces button.urgent {
	background: @lavender;
	/*border: 1 solid @base;*/
	color: @base;
	animation: urgentBlink 2s linear infinite alternate;
}

/* blinking animation */
@keyframes urgentBlink {
	to {
		background: @base;
		color: @text
	}
}

/****************************************************************************
 * scratchpad                                                               *
 ****************************************************************************/
#scratchpad {
	background: transparent;
	/*border: 1 solid @lavender;*/
	color: @text;
	margin: 1 8 1 0;              /* need space bw element and waybar */
	padding: 4;
}

/****************************************************************************
 * window                                                                   *
 ****************************************************************************/
#window {
	background: transparent;
	/*border: 1 solid @mauve;*/
	color: @text;
	margin: 1 8 1 0;              /* need space bw element and waybar */
	padding: 4;
}

window#waybar.empty #window {
	background: transparent;
	/*border: 1 solid @mauve;*/
	color: @text;
}

/****************************************************************************
 * clock                                                                    *
 ****************************************************************************/
#clock {
	background: transparent;
	/*border: 1 solid @red;*/
	color: @text;
	padding: 4;
}

/****************************************************************************
 * network                                                                  *
 ****************************************************************************/
#network {
	background: transparent;
	/*border: 1 solid @flamingo;*/
	color: @text;
	margin: 1 8 1 0;              /* need space bw element and waybar */
	padding: 4;
}

/****************************************************************************
 * volume                                                                  *
 ****************************************************************************/
#pulseaudio {
	background: transparent;
	/*border: 1 solid @green;*/
	color: @text;
	margin: 1 8 1 0;              /* need space bw element and waybar */
	padding: 4;
}

/****************************************************************************
 * backlight                                                               *
 ****************************************************************************/
#backlight {
	background: transparent;
	/*border: 1 solid @green;*/
	color: @text;
	margin: 1 8 1 0;              /* need space bw element and waybar */
	padding: 4;
}

/****************************************************************************
 * battery                                                                 *
 ****************************************************************************/
#battery {
	background: transparent;
	/*border: 1 solid @blue;*/
	color: @text;
	margin: 1 3 1 0;              /* need space bw element and waybar */
	padding: 4;
}
#battery.warning {
  color: @yellow;
}
#battery.critical {
  color: @red;
}
