@import url('mocha.css');

/****************************************************************************
 * global variables                                                         *
 ****************************************************************************/
* {
	border-radius: 0px;                  /* defines element roundness */
	font-family: "VCR OSD Mono";
	font-size: 12;
	font-weight: 600;

	/* margin/padding - outer/inner spacing of elements;
	 * w x y z (top right bottom left) 
	 * - if w x, then applies top/bottom and right/left
	 * - if w, then applies to all
	 * */
	margin: 1px 0px;                     /* space between element and bar */
	padding: 0px;                        /* text centering */
}

/****************************************************************************
 * general waybar properties                                                *
 ****************************************************************************/
window#waybar {
	background: transparent;   /* transparent background for waybar */
	border: 1px dashed @text;  /* border wdith, style, and color */
	color: @text;              /* default color for waybar elements */
}

/****************************************************************************
 * workspaces                                                               *
 ****************************************************************************/
#workspaces {
	margin: 1px 8px 1px 3px;      /* need space bw element and waybar */
}

/* defines basic property of button
 * (if desire for workspace buttons to be separated then use this property)
 */
#workspaces button {
	color: @text;
	margin: 0px;                  /* spacing bw button and element border*/
}

/* when button is hovered by mouse */
#workspaces button:hover {
	background: transparent;      /* shades of @lavender */
	border: 1px dashed @text;
	color: @text;
}

/* the current workspace */
#workspaces button.focused {
	background: transparent;
	border: 1px dashed @text;
	color: @text;
}

/* workspace blinks when a window is marked urgent by sway
 * can be tested by: 
 * swaymsg "[app_id=\"firefox\"] urgent enable" 
 * where firefox can be replaced by whatever
 */
#workspaces button.urgent {
	background: @lavender;
	color: @base;
	animation: urgentBlink 2s linear infinite alternate;
}

/* blinking animation */
@keyframes urgentBlink {
	to {
		background: transparent;
		color: @text
	}
}

/****************************************************************************
 * scratchpad                                                               *
 ****************************************************************************/
#scratchpad {
	background: transparent;
	color: @text;
	margin: 1px 8px 1px 0px;
	padding: 4px;
}

/****************************************************************************
 * window                                                                   *
 ****************************************************************************/
#window {
	background: transparent;
	color: @text;
	margin: 1px 8px 1px 0px;
	padding: 4px;
}

window#waybar.empty #window {
	background: transparent;
	color: @text;
}

/****************************************************************************
 * clock                                                                    *
 ****************************************************************************/
#clock {
	background: transparent;
	color: @text;
	padding: 4px;
}

/****************************************************************************
 * network                                                                  *
 ****************************************************************************/
#network {
	background: transparent;
	color: @text;
	margin: 1px 8px 1px 0px;
	padding: 4px;
}

/****************************************************************************
 * volume                                                                  *
 ****************************************************************************/
#pulseaudio {
	background: transparent;
	color: @text;
	margin: 1px 8px 1px 0px;
	padding: 4px;
}

/****************************************************************************
 * backlight                                                               *
 ****************************************************************************/
#backlight {
	background: transparent;
	color: @text;
	margin: 1px 8px 1px 0px;
	padding: 4px;
}

/****************************************************************************
 * battery                                                                 *
 ****************************************************************************/
#battery {
	background: transparent;
	color: @text;
	margin: 1px 3px 1px 0px;
	padding: 4px;
}
#battery.warning {
	color: @yellow;
}
#battery.critical {
	color: @red;
}

/****************************************************************************
 * custom                                                                  *
 ****************************************************************************/
#custom-sep{
	color: #7D8294;
}
